@if(simplified){
<article class="bg-gray-100 p-4 border">
  <h3 class="text-xl font-bold mb-2">{{ data?.nombreEmpresa }}</h3>
  @if (data?.recomendado) {
  <p class="text-md cards-title-color">
    <span style="color: #eab308">&#9733;</span> <strong>Te recomendamos</strong>
  </p>
  }
  <p style="text-align: left; font-size: 0.9rem">
    <th class="px-2">Tecnologías Ofrecidas:</th>
    <td class="px-2">{{ data?.tecnologiasOfrecidas }}</td>
  </p>
  <p style="height: 12px"></p>
  <a
    style="cursor: pointer"
    (click)="onOpenModal()"
    (keypress.enter)="onOpenModal()"
    (keypress.space)="onOpenModal()"
    class="font-bold py-2 text-blue-500 transition duration-300 ease-in-out transform hover:scale-105"
  >
    Ver Más
  </a>
</article>
}@else {
<article
  class="group p-5 border border-black-700"
  (click)="onOpenModal()"
  (keypress.enter)="onOpenModal()"
  (keypress.space)="onOpenModal()"
>
  <a
    style="margin-bottom: 12px; cursor: pointer"
    class="text-xl font-semibold cards-title-color hover:underline"
  >
    {{ data?.nombreEmpresa }}
  </a>
  @if (data?.recomendado) {
  <p class="text-md cards-title-color">
    <span style="color: #eab308">&#9733;</span> <strong>Te recomendamos</strong>
  </p>
  }
  <table style="text-align: left" class="mt-2">
    <tr class="text-xs">
      <th class="px-2 cards-title-color align-top">Tecnologías Ofrecidas:</th>
      <td class="px-2 cards-title-color align-top">
        {{ data?.tecnologiasOfrecidas }}
      </td>
    </tr>
    <tr class="text-xs">
      <th class="px-2 cards-title-color align-top">
        Productos y/o Servicios Avanzados:
      </th>
      <td class="px-2 cards-title-color align-top">
        {{ data?.productosServiciosAvanzados }}
      </td>
    </tr>
    <tr class="text-xs">
      <th class="px-2 cards-title-color align-top">Productos Ofrecidos:</th>
      <td class="px-2 cards-title-color align-top">
        {{ data?.productosOfrecidos }}
      </td>
    </tr>
    <tr class="text-xs">
      <th class="px-2 cards-title-color align-top">Servicios Ofrecidos:</th>
      <td class="px-2 cards-title-color align-top">
        {{ data?.serviciosOfrecidos }}
      </td>
    </tr>
  </table>
</article>
}
