@if(simplified){
<article class="bg-gray-100 p-4 border">
  <h3 class="text-xl font-bold mb-2">{{ data?.nombreEmpresa }}</h3>
  <p style="text-align: left; font-size: 0.9rem">
    <th class="px-4">Tecnologías Ofrecidas:</th>
    <td class="px-4">{{ data?.tecnologiasOfrecidas }}</td>
  </p>
  <p style="height: 12px"></p>
  <a
    style="cursor: pointer"
    (click)="onOpenModal()"
    (keypress.enter)="onOpenModal()"
    (keypress.space)="onOpenModal()"
    class="font-bold py-2 text-blue-500 transition duration-300 ease-in-out transform hover:scale-105"
  >
    Ver Más
  </a>
</article>
}@else {
<article
  class="group p-5 border border-black-700"
  (click)="onOpenModal()"
  (keypress.enter)="onOpenModal()"
  (keypress.space)="onOpenModal()"
>
  <a
    style="margin-bottom: 12px; cursor: pointer"
    class="text-xl font-semibold text-blue-600 hover:underline"
  >
    {{ data?.nombreEmpresa }}
  </a>
  <p style="height: 12px"></p>
  <table style="text-align: left; font-size: 0.9rem">
    <tr>
      <th class="px-4">Tecnologías Ofrecidas:</th>
      <td class="px-4">{{ data?.tecnologiasOfrecidas }}</td>
    </tr>
    <tr>
      <th class="px-4">Productos y/o Servicios Avanzados:</th>
      <td class="px-4">{{ data?.productosServiciosAvanzados }}</td>
    </tr>
    <tr>
      <th class="px-4">Productos Ofrecidos:</th>
      <td class="px-4">{{ data?.productosOfrecidos }}</td>
    </tr>
    <tr>
      <th class="px-4">Servicios Ofrecidos:</th>
      <td class="px-4">{{ data?.serviciosOfrecidos }}</td>
    </tr>
  </table>
</article>
}
