<header class="bg-gray-800 text-white shadow-lg">
  <div class="container mx-auto flex items-center px-4">
    <!-- Logo principal, clickea para ir al inicio -->
    <a
      routerLink="/"
      class="font-black text-2l tracking-wider bg-yellow-500 text-gray-800 p-5"
      (click)="closeMobileMenu()"
    >
      NuevoLosLagos
    </a>

    <!-- Botón hamburguesa para menú móvil -->
    <button
      class="block lg:hidden focus:outline-none ml-auto p-4"
      (click)="toggleMobileMenu()"
      aria-label="Toggle navigation menu"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>

    <!-- Navegación en escritorio -->
    <nav class="hidden lg:flex space-x-6 items-center w-full justify-center">
      <!-- Iteramos sobre menús principales -->
      <ng-container *ngFor="let menu of mainMenus">
        <!-- Menús normales -->
        <div class="relative group" *ngIf="menu !== cuentaMenu">
          <button
            class="hover:text-yellow-400 transition-colors duration-300 flex items-center focus:outline-none"
            (click)="
              menu.isDropdown ? $event.stopPropagation() : onMenuItemClick(menu)
            "
          >
            {{ menu.label }}
            <svg
              *ngIf="menu.isDropdown"
              class="w-4 h-4 ml-1"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0L5.25 8.27a.75.75 0 01-.02-1.06z"
              ></path>
            </svg>
          </button>
          <div
            class="absolute left-0 top-full w-48 bg-gray-800 text-white rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300 z-10"
          >
            <ng-container *ngFor="let item of menu.items">
              <a
                *ngIf="shouldShowMenuItem(item)"
                class="block px-4 py-2 hover:bg-gray-700 cursor-pointer"
                (click)="onMenuItemClick(item)"
              >
                {{ item.label }}
              </a>
            </ng-container>
          </div>
        </div>

        <!-- Menú de cuenta -->
        <div class="relative group" *ngIf="menu === cuentaMenu">
          <button
            class="hover:text-yellow-400 transition-colors duration-300 flex items-center focus:outline-none"
            (click)="$event.stopPropagation()"
          >
            <img
              [src]="profileImageUrl"
              alt="Perfil"
              class="w-10 h-8 rounded-full mr-1"
              (error)="
                profileImageUrl =
                  'https://accesos.nuevoloslagos.org/logos/default.png'
              "
            />
            {{ menu.label }}
            <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0L5.25 8.27a.75.75 0 01-.02-1.06z"
              ></path>
            </svg>
          </button>
          <div
            class="absolute left-0 top-full w-48 bg-gray-800 text-white rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300 z-10"
          >
            <!-- Opciones si no está logueado -->
            <a
              *ngIf="isLoggedOut"
              class="block px-4 py-2 hover:bg-gray-700"
              (click)="
                onMenuItemClick({
                  label: 'Ingresa a tu cuenta',
                  route: '/login'
                })
              "
            >
              Ingresa a tu cuenta
            </a>

            <!-- Opciones si está logueado -->
            <a
              *ngIf="isLoggedIn"
              class="block px-4 py-2 hover:bg-gray-700"
              (click)="onMenuItemClick({ label: 'Cerrar sesión' })"
            >
              Cerrar sesión
            </a>
          </div>
        </div>
      </ng-container>

      <!-- Botón Registrarse en escritorio -->
      <a
        *ngIf="isLoggedOut"
        routerLink="/registro"
        class="hidden md:inline-block bg-yellow-500 text-gray-800 font-bold py-3 px-4 ml-4 border border-yellow-700"
      >
        Registrarse
      </a>
    </nav>
  </div>

  <!-- Menú móvil -->
  <div
    class="lg:hidden"
    [ngClass]="{ block: isMobileMenuOpen, hidden: !isMobileMenuOpen }"
  >
    <nav class="px-2 pt-2 pb-4 space-y-1 sm:px-3">
      <ng-container *ngFor="let menu of mainMenus">
        <div>
          <!-- Botón para desplegar/ocultar submenú en móvil -->
          <button
            class="w-full text-left px-3 py-2 rounded-md text-gray-300 hover:bg-gray-700 hover:text-white transition-colors duration-300 flex items-center justify-between"
            (click)="
              menu.isDropdown ? $event.stopPropagation() : onMenuItemClick(menu)
            "
          >
            {{ menu.label }}
            <svg
              *ngIf="menu.isDropdown"
              class="w-4 h-4 ml-1 transform transition-transform duration-300"
              [ngClass]="{ 'rotate-180': menu.isOpenSignal() }"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0L5.25 8.27a.75.75 0 01-.02-1.06z"
              ></path>
            </svg>
          </button>

          <!-- Submenú en móvil -->
          <div
            class="mt-1 space-y-1 pl-5 border-l border-gray-700"
            *ngIf="menu.isOpenSignal()"
          >
            <!-- Menús normales en móvil -->
            <ng-container *ngIf="menu !== cuentaMenu">
              <ng-container *ngFor="let item of menu.items">
                <a
                  *ngIf="shouldShowMenuItem(item)"
                  class="block px-4 py-2 hover:bg-gray-700"
                  (click)="onMenuItemClick(item)"
                >
                  {{ item.label }}
                </a>
              </ng-container>
            </ng-container>

            <!-- Menú de cuenta en móvil -->
            <ng-container *ngIf="menu === cuentaMenu">
              <a
                *ngIf="isLoggedOut"
                class="block px-3 py-2 rounded-md text-gray-300 hover:bg-gray-700 hover:text-white transition-colors duration-300"
                (click)="
                  onMenuItemClick({
                    label: 'Ingresa a tu cuenta',
                    route: '/login'
                  })
                "
              >
                Ingresa a tu cuenta
              </a>
              <a
                *ngIf="isLoggedIn"
                class="block px-3 py-2 rounded-md text-gray-300 hover:bg-gray-700 hover:text-white transition-colors duration-300"
                (click)="onMenuItemClick({ label: 'Cerrar sesión' })"
              >
                Cerrar sesión
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <!-- Botón Registrarse en móvil -->
      <a
        *ngIf="isLoggedOut"
        routerLink="/registro"
        class="block w-full text-center bg-yellow-500 hover:bg-yellow-600 text-gray-800 font-bold py-2 px-4 mt-4 border border-yellow-700 rounded shadow-md transform hover:scale-105 transition-transform duration-200"
        (click)="closeMobileMenu()"
      >
        Registrarse
      </a>
    </nav>
  </div>
</header>
