<div class="sidebar" [class.open]="isOpen()">
    <button class="close-btn" (click)="toggleSidebar()">×</button>
    <div class="container-lead">
  
      <div>
        <!--tema oscuro-->
        <!--
        <button mat-fab extended (click)="toggleTheme()">
          <mat-icon>{{ themeIcon }}</mat-icon>
          {{ themeLabel }}
        </button>
        -->
      </div>
      
      <div>
        <!-- Opciones según estado de login o perfil -->
        <button mat-fab *ngFor="let option of menuOptions()" extended (click)="handleMenuClick(option)">
          <mat-icon>{{option.icon}}</mat-icon>
          {{option.label}}
        </button>
      </div>
      
      <div class="only-mobile">
        <!--Paraa pantallas mobiles menu navbar-->
        <mat-divider></mat-divider>
        @for (option of menuNavbar; track $index) {
            <button mat-fab extended (click)="handleMenuClick(option)">
                <mat-icon>{{option.icon}}</mat-icon>
                {{option.label}}
            </button>
        }
      </div>
  
      @if (authState() === AuthState.LoggedIn) {
        <div>
          <!--Cerrar sesion-->
          <mat-divider></mat-divider>
          @for (option of menuBotton; track $index) {
              <button mat-fab extended (click)="handleMenuClick(option)">
                <mat-icon>{{option.icon}}</mat-icon>
                {{option.label}}
            </button>
          }
        </div>
      }
    </div>
  </div>