/* src/app/components/article-card/article-card.component.scss */

.article-card {
    background-color: var(--background-color-blur); /* Uso correcto de CSS Variable */
    color: var(--primary-color); /* Uso correcto de CSS Variable */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px;
    backdrop-filter: blur(20px);
    justify-content: space-between;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
  
    mat-card-title {
      font-size: 1.3em;
      font-weight: bold;
    }
  
    p {
      font-size: 1em;
      line-height: 1.5;
    }
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .article-card {
      padding: 15px;
  
      mat-card-title {
        font-size: 1.3em;
      }
  
      p {
        font-size: 0.95em;
      }
    }
  }
  
  @media (max-width: 480px) {
    .article-card {
      padding: 10px;
  
      mat-card-title {
        font-size: 1.1em;
      }
  
      p {
        font-size: 0.9em;
      }
    }
  }
  