/* Light Theme Variables - Inspired by Facebook Colors */
.light-theme {
  --primary-color: #3b5998;          /* Facebook Blue */
  --secondary-color: #8b9dc3;        /* Secondary Blue */
  --background-color: #F0F2F5;       /* Light Background */
  --background-color-blur: rgba(240, 242, 245, 0.5);
  --card-background: #FFFFFF;        /* White Card Background */
  --text-color: #1C1E21;             /* Dark Text */
  --text-light: #606770;             /* Light Text */
  --text-background-color: #FFFFFF;  /* Text Background */
  --success-color: #42B72A;          /* Green for Success */
  --error-color: #FA3E3E;            /* Red for Errors */
  --warning-color: #FFBA00;          /* Amber for Warnings */
}
