.text-muted {
    color: #6c757d;
  }
  
  .highlight {
    background-color: #ffe600; /* Color amarillo para resaltar */
    font-size: 0.85em; /* Tamaño de texto más pequeño */
    margin-bottom: 0.5em; /* Espaciado inferior */
    padding: 0.3em;
  }
  
  .fst-italic {
    font-style: italic;
  }
  
  .text-body {
    margin-top: 1em;
  }
  