.conversation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
    height: 100vh;
    place-content: center;
    overflow-y: scroll;
  .assistant-message {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    margin-bottom: 10px;
  }
  .instruction {
    font-size: 0.9em;
    color: #757575;
    margin-bottom: 5px;
  }
  .user-input {
    margin-bottom: 20px;
  }
  .rating-container {
    display: flex;
    flex-direction: column;
    .stars {
      display: flex;
    }
    .star-button {
      background: none;
      border: none;
      cursor: pointer;
      mat-icon {
        font-size: 30px;
        color: #ffca28;
      }
      &.active mat-icon {
        color: #ff9800;
      }
    }
  }
}
