<div style="height: 100vh; align-content: center">
  <div class="pt-5 text-base font-semibold leading-7 px-8">
    <p>
      <a
        routerLink="/"
        class="text-[rgb(31_41_55)] transition-all duration-300 group-hover:text-[rgb(234_179_8)]"
        >&larr; Volver
      </a>
    </p>
  </div>
  <ol class="grid md:grid-cols-3 p-6">
    <div
      routerLink="/registro-proveedor"
      class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10"
    >
      <span
        class="absolute top-10 z-0 h-20 w-20 rounded-full bg-[rgb(31_41_55/var(--tw-bg-opacity))] transition-all duration-300 group-hover:scale-[10]"
      ></span>
      <div class="relative z-10 mx-auto max-w-md">
        <span
          class="grid h-20 w-20 place-items-center rounded-full bg-[rgb(31_41_55/var(--tw-bg-opacity))] transition-all duration-300 group-hover:bg-[rgb(234_179_8/var(--tw-bg-opacity))]"
        >
          <!-- Ícono SVG -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-10 w-10 text-white transition-all"
            aria-label="Icono de Dinero"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 8c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm0 0v0m0 0v0m0 0v0"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12h.01M18 12h.01M9 15h6M9 9h6"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 12h18M3 12c0-4.418 3.582-8 8-8v0c4.418 0 8 3.582 8 8h-16z"
            />
          </svg>
        </span>
        <div
          class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90"
        >
          <!-- Contenido -->
          <p>
            Crear cuenta |
            <strong>Proveedores</strong>
          </p>
          <p>
            Accede a nuestra plataforma como proveedor y conecta con empresas de
            la Industria 4.0 para ofrecer tus productos o servicios
            especializados. Únete a una red de colaboración y aprovecha
            oportunidades de negocio en crecimiento.
          </p>
        </div>
        <div class="pt-5 text-base font-semibold leading-7">
          <p>
            <a
              routerLink="/registro-proveedor"
              class="text-[rgb(31_41_55)] transition-all duration-300 group-hover:text-[rgb(234_179_8)]"
              >Registrarse &rarr;
            </a>
          </p>
        </div>
      </div>
    </div>
    <div
      routerLink="/registro-industria"
      class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10"
    >
      <span
        class="absolute top-10 z-0 h-20 w-20 rounded-full bg-[rgb(31_41_55/var(--tw-bg-opacity))] transition-all duration-300 group-hover:scale-[10]"
      ></span>
      <div class="relative z-10 mx-auto max-w-md">
        <span
          class="grid h-20 w-20 place-items-center rounded-full bg-[rgb(31_41_55/var(--tw-bg-opacity))] transition-all duration-300 group-hover:bg-[rgb(234_179_8/var(--tw-bg-opacity))]"
        >
          <!-- Ícono SVG -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-10 w-10 text-white transition-all"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 21V8l7-5 7 5v13H3z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13 13h4v8h-4z"
            />
          </svg>
        </span>
        <div
          class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90"
        >
          <!-- Contenido -->
          <p>
            Crear cuenta |
            <strong>Empresas de los lagos</strong>
          </p>
          <p>
            Únete como empresa de la región de Los Lagos para aumentar tu
            visibilidad y competitividad en la Industria 4.0. Accede a recursos
            exclusivos, oportunidades de financiamiento y contacto directo con
            proveedores e innovadores.
          </p>
        </div>
        <div class="pt-5 text-base font-semibold leading-7">
          <p>
            <a
              routerLink="/registro-industria"
              class="text-[rgb(31_41_55)] transition-all duration-300 group-hover:text-[rgb(234_179_8)]"
              >Registrarse &rarr;
            </a>
          </p>
        </div>
      </div>
    </div>
    <div
      routerLink="/registro-persona"
      class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10"
    >
      <span
        class="absolute top-10 z-0 h-20 w-20 rounded-full bg-[rgb(31_41_55/var(--tw-bg-opacity))] transition-all duration-300 group-hover:scale-[10]"
      ></span>
      <div class="relative z-10 mx-auto max-w-md">
        <span
          class="grid h-20 w-20 place-items-center rounded-full bg-[rgb(31_41_55/var(--tw-bg-opacity))] transition-all duration-300 group-hover:bg-[rgb(234_179_8/var(--tw-bg-opacity))]"
        >
          <!-- Ícono SVG -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-10 w-10 text-white transition-all"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 14c3.333 0 6 2.667 6 6H6c0-3.333 2.667-6 6-6z"
            />
            <circle
              cx="12"
              cy="8"
              r="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <div
          class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90"
        >
          <!-- Contenido -->
          <p>
            Crear cuenta |
            <strong>Personal</strong>
          </p>
          <p>
            Regístrate como usuario profesional y explora oportunidades de
            desarrollo, empleo y formación en el ecosistema de la Industria 4.0.
            Conecta con empresas, accede a cursos en línea y mantente
            actualizado sobre las últimas tendencias del sector
          </p>
        </div>
        <div class="pt-5 text-base font-semibold leading-7">
          <p>
            <a
              routerLink="/registro-persona"
              class="text-[rgb(31_41_55)] transition-all duration-300 group-hover:text-[rgb(234_179_8)]"
              >Registrarse &rarr;
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Repite las mismas modificaciones para las otras dos tarjetas -->
  </ol>
</div>
