<section>
  <div class="section-container">
    <div class="registro-section">
      @for (card of cards; track $index) {
      <div routerLink="{{ card.link }}" class="registro-card">
        <span class="registro-card-bg"></span>
        <div class="registro-card-content">
          <span class="registro-card-icon">
            @switch (card.icon) { @case ('dinero') {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-10 w-10 text-white transition-all"
              aria-label="Icono de Dinero"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12h.01M18 12h.01M9 15h6M9 9h6"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 12h18M3 12c0-4.418 3.582-8 8-8v0c4.418 0 8 3.582 8 8h-16z"
              />
            </svg>
            }@case ('empresas') {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-10 w-10 text-white transition-all"
              aria-label="Icono de Empresas"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 21V8l7-5 7 5v13H3z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13 13h4v8h-4z"
              />
            </svg>
            } @case ('startups') {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-10 w-10 text-white transition-all"
              aria-label="Icono de Startups"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 14c3.333 0 6 2.667 6 6H6c0-3.333 2.667-6 6-6z"
              />
              <circle
                cx="12"
                cy="8"
                r="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            } }
          </span>
          <div class="registro-card-text">
            <p>
              Crear cuenta | <strong>{{ card.title }}</strong>
            </p>
            <p>
              {{ card.description }}
            </p>
          </div>
          <div class="pt-5 text-base font-semibold leading-7">
            <p>
              <a [routerLink]="card.link" class="registro-card-link">
                {{ card.buttonLabel }} &rarr;
              </a>
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
