.podcasts-container {
    background-color: var(--background-color-blur);
    color: var(--text-color);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 900px;
  
    .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 12px;
    }
  
    @media (max-width: 480px) {
      margin: 0px;
      padding: 15px;
      mat-card-content{
        padding: 0px;
      }
      img{
        max-width: 260px !important;
      }
    }
  
    .title {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 600;
      align-self: center;
    }
  
    .subtitle {
      color: var(--secondary-color);
      font-size: 18px;
      margin-top: 4px;
      align-self: center;
    }
  
    .section {
      margin-top: 20px;
      max-width: 700px;
  
      h2 {
        color: var(--primary-color);
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      p {
        margin-bottom: 16px;
        line-height: 1.6;
      }
  
      .content-with-image {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
  
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
      }
  
      a {
        text-decoration: none;
      }
  
      button {
        margin-top: 16px;
        font-size: 16px;
  
        mat-icon {
          margin-right: 8px;
        }
      }
      .podcasts-list {
        margin-top: 20px;
    
        mat-expansion-panel {
          color: var(--text-color, #333);
          margin-bottom: 10px;
    
  
          mat-expansion-panel-header{
            background-color: var(--primary-color);
          }
          mat-panel-title {
            font-weight: bold;
            color: #fff;
          }
    
          p {
            margin-bottom: 10px;
          }
    
          audio {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  
    mat-divider {
      margin: 20px 0;
      border-color: var(--secondary-color);
      max-width: 700px;
    }
  }
  