nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:var(--primary-color);
    color: var(--text-background-color);
    position: relative;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  }
  
  .logo {
    font-weight: bold;
    height: 40px;
    align-content: center;
    cursor: pointer;
  }
  
  .main-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .main-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease,;
    &:hover {
      transform: scale(1.1);
    }
  }
  
  .main-menu mat-icon {
    font-size: 24px;
  }
  
  .main-menu span {
    font-size: 12px;
    margin-top: 4px;
  }
  
  /* Botón del menú desplegable para pantallas pequeñas */
  .dropdown-menu {
    display: none;
    top: 60px; /* Ajusta según la altura de tu nav */
    right: 20px;
    border-radius: 4px;
  }
  
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: var(--text-background-color);
    font-size: 24px;
    cursor: pointer;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
  }
  
  .dropdown-menu li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-menu li mat-icon {
    margin-right: 10px;
  }
  
  .dropdown-menu li:hover {
    background-color: #555;
  }
  
  /* Botón de menú principal */
  button.menu-toggle {
    background-color: transparent;
    border: none;
    color: var(--text-background-color);
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Menú de perfil */
  .profile-menu {
    position: relative;
  }
  
  .profile-icon {
    background-color: transparent;
    border: none;
    color: var(--text-background-color);
    font-size: 24px;
    cursor: pointer;
    scale: 1.5;
  }
  
  /* Media Queries */
  
  /* Pantallas medianas: Mostrar solo iconos */
  @media (max-width: 1024px) and (min-width: 768px) {
    .main-menu span {
      display: none;
    }
  }
  
  /* Pantallas pequeñas: Mostrar menú desplegable y ocultar menú principal */
  @media (max-width: 767px) {
    .main-menu {
      display: none;
    }
    
    .dropdown-menu {
      display: block;
    }
  }
  