<!-- Migas de pan para navegación -->
<div class="bg-gray-200 py-4 border-b-4 border-gray-200">
  <div class="container mx-auto">
    <nav class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <!-- Primer segmento: enlace a la página de Inicio -->
        <li class="inline-flex items-center">
          <a
            href="/"
            class="inline-flex items-center text-sm font-bold transition-colors duration-300"
          >
            <!-- Icono de Inicio -->
            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 2L2 7h3v7h4v-5h2v5h4V7h3L10 2z"></path>
            </svg>
            Inicio
          </a>
        </li>
        <!-- Iterar sobre los segmentos y generar enlaces acumulativos -->
        <li key="0" class="flex items-center">
          <!-- Separador de segmento -->
          <svg
            class="w-5 h-5 text-gray-500 mx-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <!-- Enlace al segmento con ruta acumulativa -->
          <a
            href="/"
            class="text-sm font-bold transition-colors duration-300 hover:text-gray-500"
          >
            Investigacion
          </a>
        </li>
        <li key="1" class="flex items-center">
          <!-- Separador de segmento -->
          <svg
            class="w-5 h-5 text-gray-500 mx-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <!-- Enlace al segmento con ruta acumulativa -->
          <a
            href="/investigacion-podcasts"
            class="text-sm font-bold transition-colors duration-300 hover:text-gray-500"
          >
            Podcast
          </a>
        </li>
      </ol>
    </nav>
  </div>
</div>

<!-- Header -->

<!-- forked from: https://codepen.io/cuonoj/pen/JjPmMaB -->


<!-- Contenido principal -->
<main class="container mx-auto py-12 flex flex-col lg:flex-row">
  <!-- Sección de búsqueda y resultados -->
  <div class="w-full lg:w-3/4 pr8 p-8">
    <section class="mb-8">
      <h1 class="text-4xl font-bold text-gray-800 mb-4 ">
        Bienvenidos a la sección de Podcasts de Nuevo Los Lagos
      </h1>
      <p class="text-gray-700 leading-relaxed mb-4 text-justify">
        Estamos emocionados de presentarte una forma innovadora de acceder a
        información sobre las tecnologías de la Industria 4.0. Nuestros
        podcasts, generados por inteligencia artificial, están basados en
        nuestras investigaciones y conversaciones con expertos en áreas como
        automatización, inteligencia artificial, Internet de las Cosas (IoT) y
        más. Brindamos contenido accesible y actualizado, para que explores las
        últimas tendencias de forma sencilla y directa. Disfruta del
        conocimiento al alcance de un clic, en el formato que mejor se adapta a
        ti.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">
        ¿Por qué hemos elegido el formato de podcast generado por IA?
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4 text-justify">
        Hemos optado por los podcasts generados por inteligencia artificial
        porque creemos en ofrecer contenido de forma accesible y conveniente.
        Este formato permite que nuestros usuarios accedan a información
        relevante sobre tecnologías de la Industria 4.0, en cualquier momento y
        lugar. Además, la inteligencia artificial garantiza la entrega rápida y
        precisa de datos actualizados, haciéndolo una opción ideal para quienes
        desean estar al día con las últimas tendencias sin invertir demasiado
        tiempo.
      </p>
    </section>

    <section>
      <h2 class="text-2xl font-bold text-gray-800 mb-4">
        ¿Cómo se desarrollan nuestros podcasts?
      </h2>
      <p class="text-gray-700 leading-relaxed text-justify">
        Nuestros podcasts están basados en investigaciones detalladas y en
        entrevistas con expertos del sector. Utilizamos tecnología de
        inteligencia artificial avanzada para procesar esta información y
        convertirla en episodios atractivos, informativos y fáciles de seguir.
        Esto nos permite abordar temas complejos, como la automatización y el
        Internet de las Cosas (IoT), de manera sencilla y comprensible para
        todos.
      </p>
    </section>

    <!-- Sección: Lista de Podcasts -->
    <section class="bg-gray-100 p-6 shadow-lg">
      <!-- Video seleccionado -->
      <div class="mb-6">
        <iframe
          class="w-full h-96"
          [src]="selectedVideoUrl"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <!-- Carrusel de videos -->
      <div
        style="overflow-y: hidden"
        class="overflow-x-auto scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200"
      >
        <div class="flex space-x-4">
          <div
            *ngFor="let video of videos"
            (click)="selectVideo(video)"
            class="cursor-pointer flex-shrink-0 w-40 transform hover:scale-105 transition-transform duration-200"
          >
            <img
              [src]="getThumbnailUrl(video.id)"
              alt="{{ video.title }}"
              class="w-full h-24 object-cover shadow-md"
            />
            <p class="text-sm mt-2 text-center font-medium">
              {{ video.title }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Sección de artículos sugeridos -->
  <aside class="w-full lg:w-1/4 mt-12 lg:mt-0 pt-10">
    <app-sugeridos></app-sugeridos>
  </aside>
</main>
