.custom-shape-divider-bottom-1736997406 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736997406 svg {
  position: relative;
  display: block;
  width: calc(225% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1736997406 .shape-fill {
  fill: #eab308;
}
.custom-shape-divider-top-1736997818 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1736997818 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1736997818 .shape-fill {
  fill: #eab308;
}
.custom-shape-divider-bottom-1736997902 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736997902 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1736997902 .shape-fill {
  fill: #eab308;
}
.custom-shape-divider-bottom-1736999892 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1736999892 svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 86px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1736999892 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-bottom-1737000036 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1737000036 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}

.custom-shape-divider-bottom-1737000036 .shape-fill {
  fill: #ffffff;
}
