<!--texto para cuentas sin ingreso-->
@if (this.authState() === AuthState.LoggedOut || (this.authState() ===
AuthState.LoggedIn && this.modeloMadurez() && !(ruta ==='buscador-cursos' ||
ruta ==='buscador-proveedores')) ) {
<h2 class="text-2xl font-bold mb-6">Últimas publicaciones</h2>
}
<!--texto para cuentas con ingreso empresa-->
@if (this.authState() === AuthState.LoggedIn &&
this.currentUser()?.rol?.nombreRol === Role.Empresa && this.modeloMadurez() &&
(ruta ==='buscador-cursos' || ruta ==='buscador-proveedores')) {
<h2 class="text-2xl font-bold mb-6">Según tu Modelo te recomendamos...</h2>
}

<!-- Sección de artículos sugeridos -->
<div
  class="space-y-6 animate-fade-in"
  style="min-height: 50vh; max-width: 500px"
>
  @if (!sugeridos.length) {
  <h1 class="text-gray-300">No hay sugerencias coincidentes.</h1>
  }
  <!--sugeridos-->
  @for (item of sugeridos; track $index) {
  <!--curso-->
  @if (item?.modalidad && item?.duracion) {
  <!--articulo-->
  <app-course-item
    class="p-4"
    [simplified]="true"
    [data]="item"
    (openModal)="openModal($index)"
  >
  </app-course-item>
  <!--modal-->
  <app-course-modal
    *ngIf="isModalOpen && dataModal"
    [data]="dataModal"
    [showNext]="false"
    (close)="closeModal()"
  ></app-course-modal>
  }
  <!--proveedores-->
  @if (item?.nombreEmpresa && (item?.rut_md5 ||item?.correoElectronicoEmpresa))
  {
  <app-supplier-item
    class="p-4"
    [simplified]="true"
    [data]="item"
    (openModal)="openModal($index)"
  >
  </app-supplier-item>
  <!--modal-->
  <app-supplier-modal
    *ngIf="isModalOpen && dataModal"
    [data]="dataModal"
    [showNext]="false"
    (close)="closeModal()"
  ></app-supplier-modal>
  }
  <!--financiamiento-->
  @if (item?.porcentaje_cobertura ) {
  <app-financing-item
    class="p-4"
    [simplified]="true"
    [data]="item"
    (openModal)="openModal($index)"
  >
  </app-financing-item>
  <!--modal-->
  <app-financing-modal
    *ngIf="isModalOpen && dataModal"
    [data]="dataModal"
    [showNext]="false"
    (close)="closeModal()"
  ></app-financing-modal>
  }
  <!--articulos-->
  @if (item?.articulo_paper) {
  <app-article-item
    class="p-4"
    [simplified]="true"
    [data]="item"
    (openModal)="openModal($index)"
  >
  </app-article-item>
  <!--modal-->
  <app-article-modal
    *ngIf="isModalOpen && dataModal"
    [data]="dataModal"
    [showNext]="false"
    (close)="closeModal()"
  >
  </app-article-modal>
  }

  <!--proyecto-->
  @if (item?.localidad) {
  <app-projects-item
    class="p-4"
    [simplified]="true"
    [data]="item"
    (openModal)="openModal($index)"
  >
  </app-projects-item>
  <!--modal-->
  <app-projects-modal
    *ngIf="isModalOpen && dataModal"
    [data]="dataModal"
    [showNext]="false"
    (close)="closeModal()"
  ></app-projects-modal>
  }

  <!--startup-->
  @if (item?.descripcionStartup) {
  <app-startup-item
    class="p-4"
    [simplified]="true"
    [data]="item"
    (openModal)="openModal($index)"
  >
  </app-startup-item>
  <!--modal-->
  <app-startup-modal
    *ngIf="isModalOpen && dataModal"
    [data]="dataModal"
    [showNext]="false"
    (close)="closeModal()"
  ></app-startup-modal>
  }

  <!---->
  }
</div>
