<!-- Migas de pan para navegación -->
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!-- Contenido principal -->
<main class="container mx-auto py-12 flex flex-col lg:flex-row">
  <!-- Sección de búsqueda y resultados -->
  <div class="w-full lg:w-3/4 pr8 p-8">
    <!-- Header -->
    <header>
      <div class="container mx-auto py-4">
        <h1 class="text-gray text-4xl font-bold">
          Informe sobre la Industria 4.0 en la Región de Los Lagos
        </h1>
        <p class="text-gray-700 mt-2 text-lg">
          Análisis del ecosistema de manufactura avanzada y sus desafíos
        </p>
      </div>
    </header>
    <!-- Sección: Introducción -->
    <section class="mb-12">
      <div class="bg-white py-2">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Introducción</h2>
        <p class="text-gray-700 leading-relaxed text-justify">
          Este informe, elaborado junto a <strong>CORFO</strong>,
          <strong>ASIMET</strong>, la
          <strong>Universidad Santo Tomás (Puerto Montt)</strong> y
          <strong>Grupo Centinela</strong>, analiza el ecosistema de manufactura
          avanzada e industria 4.0 en la Región de Los Lagos, enfocándose en las
          oportunidades y desafíos del sector en su transformación digital. Con
          un análisis exhaustivo, busca servir como base sólida para la toma de
          decisiones estratégicas que impulsen el desarrollo económico
          sostenible de la región.
        </p>
      </div>
    </section>

    <!-- Sección: Brechas en la Adopción de Tecnologías 4.0 -->
    <section class="mb-12">
      <div class="bg-white py-2">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">
          Brechas en la Adopción de Tecnologías 4.0
        </h2>
        <p class="text-gray-700 leading-relaxed mb-4 text-justify">
          <strong
            >Uno de los puntos clave es la identificación de las brechas que
            frenan la adopción de tecnologías 4.0 en la región.</strong
          >
          Los principales obstáculos incluyen la falta de financiamiento, la
          escasez de personal capacitado, la incertidumbre económica y la
          adaptación a la innovación tecnológica.
        </p>
        <p class="text-gray-700 leading-relaxed text-justify">
          Para superar estos desafíos, el informe subraya la necesidad de
          fortalecer las políticas de apoyo financiero y formación tecnológica,
          además de fomentar una cultura de colaboración entre empresas e
          instituciones.
        </p>
      </div>
    </section>

    <!-- Sección: Sectores Clave de la Economía Regional -->
    <section class="mb-12">
      <div class="bg-white py-2">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">
          Sectores Clave de la Economía Regional
        </h2>
        <p class="text-gray-700 leading-relaxed mb-4 text-justify">
          <strong
            >El informe también detalla cinco sectores clave de la economía
            regional: acuicultura, construcción, silvoagropecuario, manufactura
            y turismo.</strong
          >
          Para cada uno, se describen sus características, desafíos y
          oportunidades frente a la adopción de tecnologías 4.0.
        </p>
        <p class="text-gray-700 leading-relaxed text-justify">
          Se incluyen ejemplos de innovaciones como robots de ordeño, drones
          para la cosecha de manzanas y sistemas de nanoburbujas para
          oxigenación en la acuicultura.
        </p>
      </div>
    </section>

    <!-- Sección: Fuente de Información -->
    <section class="mb-12">
      <div class="bg-white py-2">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">
          Fuente de Información
        </h2>
        <p class="text-gray-700 leading-relaxed mb-4 text-justify">
          <strong
            >La información del informe proviene de encuestas a empresas de
            distintos sectores, incluyendo la manufactura y el acuícola.</strong
          >
          Estas encuestas ofrecen una visión clara del conocimiento, la adopción
          de tecnologías, y las barreras y oportunidades que enfrentan las
          empresas en su camino hacia la transformación digital.
        </p>
        <p class="text-gray-700 leading-relaxed text-justify">
          Los resultados son una herramienta valiosa para entender las
          necesidades del sector y diseñar estrategias que impulsen la adopción
          de tecnologías avanzadas.
        </p>
      </div>
    </section>

    <!-- Sección: Objetivo del Informe -->
    <section class="mb-12">
      <div class="bg-white py-2">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">
          Objetivo del Informe
        </h2>
        <p class="text-gray-700 leading-relaxed mb-4 text-justify">
          <strong
            >El informe pretende aportar una visión clara sobre el estado de la
            manufactura avanzada e industria 4.0 en la Región de Los
            Lagos.</strong
          >
          Su objetivo es proporcionar información relevante para la toma de
          decisiones estratégicas que promuevan un desarrollo económico
          sostenible.
        </p>
        <p class="text-gray-700 leading-relaxed text-justify">
          El informe completo está disponible para su consulta, y se espera que
          sea un recurso útil para empresas, instituciones públicas y actores
          del ecosistema de innovación de la región.
        </p>
      </div>
      <div class="mt-6 text-center">
        <a
          style="cursor: pointer"
          (click)="
            openLink(
              'https://drive.google.com/file/d/1Ct-dBUZZ2nejjTZ7FNbhrLr45POtNnnN/view?usp=sharing'
            )
          "
          class="inline-block bg-blue-600 text-white font-bold py-3 px-6 hover:bg-blue-700 transition duration-300"
        >
          <svg
            class="inline-block w-6 h-6 mr-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M12.293 9.293a1 1 0 011.414 0L17 12.586V4a1 1 0 112 0v10a1 1 0 01-1 1h-10a1 1 0 110-2h8.586l-3.293-3.293a1 1 0 010-1.414zM3 4a1 1 0 011-1h6a1 1 0 110 2H5v12h8a1 1 0 110 2H4a1 1 0 01-1-1V4z"
            />
          </svg>
          Descargar Informe Completo
        </a>
      </div>
    </section>
  </div>
  <!-- Sección de artículos sugeridos -->
  <aside>
    <app-sugeridos></app-sugeridos>
  </aside>
</main>
