<!-- Mensajes de tip o mensaje de estado -->
<div class="mb-3 position-relative" style="min-height: 1.5em">
  <h5
    *ngIf="searchTip && !searchMessage"
    class="text-muted position-absolute top-0 start-0"
  >
    {{ searchTip }}
  </h5>
  <h5 *ngIf="searchMessage" class="text-muted position-absolute top-0 start-0">
    {{ searchMessage }}
  </h5>
</div>

<!-- Campo de texto para la búsqueda con icono de lupa -->
<div class="flex items-center mb-3">
  <label for="simple-search" class="sr-only">Buscar</label>
  <div class="relative w-full flex">
    <!-- Ícono de búsqueda a la izquierda -->
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-gray-500"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>

    <!-- Input de búsqueda -->
    <input
      type="text"
      [(ngModel)]="searchInput"
      (ngModelChange)="onInputChange($event)"
      id="simple-search"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
      placeholder="Buscar recursos..."
      required
    />

    <!-- Botón para limpiar la búsqueda, visible solo si hay texto -->
    <div
      *ngIf="searchInput.trim().length > 0"
      style="width: 32px; padding-left: 0px; cursor: pointer"
      class="absolute inset-y-0 right-0 flex items-center pl-3"
      (click)="onClearSearch()"
      id="clearButton"
      aria-label="Limpiar búsqueda"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-gray-500"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
  </div>

  <!-- Botón para iniciar la búsqueda -->
  <button
    type="button"
    (click)="onSearch()"
    class="p-2.5 ml-2 text-sm font-medium text-white bg-gray-600 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
  >
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      ></path>
    </svg>
    <span class="sr-only">Buscar</span>
  </button>
</div>

<!-- Botones para seleccionar tipo de recurso (visibles solo si se cumplen condiciones) -->
<div *ngIf="showResourceButtons" class="mb-4 grid sm:flex sm:space-x-4">
  <button
    *ngFor="let option of resourceOptions"
    (click)="onResourceTypeChange(option.type)"
    [class.bg-[#EAB308]]="selectedResourceType === option.type"
    [class.text-[rgb(31,41,55)]]="selectedResourceType === option.type"
    class="sm:m-1 font-bold text-gray-600 px-4 text-muted text-xs py-2 border border-gray-600 hover:bg-[#EAB308] hover:text-[rgb(31,41,55)] transition-colors duration-300"
  >
    {{ option.label }}
  </button>
</div>

<!-- Listado de palabras clave sugeridas -->
<div class="mb-8 grid sm:flex">
  <span class="me-2 text-gray-600 font-bold">Buscar:</span>
  <ng-container *ngFor="let term of searchKeywords">
    <span
      style="padding: 4px 12px"
      class="badge border border-blue-100 text-blue-600 px-2 py-1 text-xs suggested-term me-2 mb-2"
      (click)="onAddSuggestedTerm(term)"
      (keypress)="handleKeyPress($event, term)"
      tabindex="0"
      role="button"
      [attr.aria-label]="'Buscar ' + (term === 'ingles' ? 'En Inglés' : term)"
    >
      {{
        term === "ingles"
          ? "En Inglés"
          : term === "de pago"
          ? "De Pago"
          : (term | titlecase)
      }}
    </span>
  </ng-container>
</div>

<!-- Conteo de resultados e indicador de carga -->
<div>
  <div class="form-text text-center text-muted mt-2 mb-3">
    {{ resultCount }}
  </div>
  <div
    *ngIf="isLoading"
    class="text-center my-4"
    aria-live="polite"
    aria-busy="true"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
</div>
