<!-- Sección de patrocinadores -->
<div class="w-full bg-gray-100 py-4">
  <div class="max-w-full px-6">
    <div class="flex flex-col items-center">
      <!-- Encabezado y descripción -->
      <div class="text-center">
        <h2 class="text-2xl font-extrabold text-gray-800 mt-6">Organización</h2>
        <p class="mt-6 text-xl text-gray-600 max-w-2xl mx-auto">
          Nuevo Los Lagos es una colaboración entre la Universidad Santo Tomás,
          Asimet y Grupo Centinela, con financiamiento de Corfo Los Lagos.
        </p>
      </div>
      <!-- Sección de logos de patrocinadores -->
      <div
        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4"
      >
        <div
          style="max-height: 10rem"
          class="flex items-center justify-center"
          key="Santo Tomás"
        >
          <img
            src="assets/logos/logo_santotomas.webp"
            alt="Santo Tomás"
            style="max-height: 10rem"
            class="w-full max-w-xs h-auto object-contain"
            loading="lazy"
          />
        </div>
        <div class="flex items-center justify-center" key="Asimet">
          <img
            src="assets/logos/logo_asimet.webp"
            alt="Asimet"
            style="max-height: 10rem"
            class="w-full max-w-xs h-auto object-contain"
            loading="lazy"
          />
        </div>
        <div class="flex items-center justify-center" key="centinela">
          <img
            src="assets/logos/logo_centinela.webp"
            alt="grupo-centinela"
            style="max-height: 10rem"
            class="w-full max-w-xs h-auto object-contain"
            loading="lazy"
          />
        </div>
        <div class="flex items-center justify-center" key="Corfo">
          <img
            src="assets/logos/logo_corfo.webp"
            alt="Corfo"
            style="max-height: 10rem"
            class="w-full max-w-xs h-auto object-contain"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>
