.custom-shape-divider-bottom-1737332143 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1737332143 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}

.custom-shape-divider-bottom-1737332143 .shape-fill {
  fill: #f3f4f6;
}
