@if (simplified) {
<article class="bg-gray-100 p-4">
  <h3 class="text-xl font-bold mb-2">{{ data?.titulo }}</h3>
  <p class="mb-1 flex flex-wrap gap-1"></p>
  <p style="font-size: 0.9rem" class="text-gray-600 mb-4">
    {{ data?.descripcion | truncate : 100 : true }}
  </p>
  <a
    style="cursor: pointer"
    (click)="onOpenModal()"
    (keypress.enter)="onOpenModal()"
    (keypress.space)="onOpenModal()"
    class="font-bold py-2 text-blue-500 transition duration-300 ease-in-out transform hover:scale-105"
  >
    Ver Más
  </a>
</article>
} @else {
<article
  class="group"
  (click)="onOpenModal()"
  (keypress.enter)="onOpenModal()"
  (keypress.space)="onOpenModal()"
  tabindex="0"
  role="button"
>
  <a
    style="cursor: pointer"
    class="text-xl font-semibold cards-title-color hover:underline"
  >
    {{ data.titulo }}
  </a>
  @if (data?.recomendado) {
  <p class="text-md cards-title-color pb-2">
    <span style="color: #eab308">&#9733;</span> <strong>Te recomendamos</strong>
  </p>
  }
  <!-- Etiquetas de los cursos -->
  <p class="mb-1 flex flex-wrap gap-1">
    @if (data?.idioma?.toLowerCase() === 'ingles') {
    <span class="border cards-title-color px-2 py-1 text-xs"> En Inglés </span>
    } @if (data?.tipo?.toLowerCase() === 'de pago') {
    <span class="border cards-title-color px-2 py-1 text-xs"> De Pago </span>
    } @if (data?.tipo?.toLowerCase() === 'gratuito') {
    <span class="border cards-title-color px-2 py-1 text-xs"> Gratuito </span>
    } @if(data?.modalidad?.toLowerCase() === 'online'){
    <span class="border cards-title-color px-2 py-1 text-xs"> Online </span>
    } @if (data?.modalidad?.toLowerCase() === 'presencial') {
    <span class="border cards-title-color px-2 py-1 text-xs"> Presencial </span>
    } @for (tipo of data.tipo_de_conocimiento; track $index) {
    <span
      class="border cards-title-color px-2 py-1 text-xs"
      style="margin-right: 4px"
    >
      {{ tipo }}
    </span>
    }
  </p>

  <!-- Descripción del curso -->
  <span
    [innerHTML]="
      recursosService.sanitizedString(data.descripcion | truncate : 400 : true)
    "
  ></span>
  <p>
    <small style="color: gray" class="text-secondary">
      Sitio web: {{ recursosService.getDomain(data.link) }}
    </small>
  </p>
</article>
}
