<!-- Migas de pan -->
<div class="bg-gray-200 py-4 border-b-4 border-gray-200">
  <div class="container mx-auto">
    <nav class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <!-- Primer segmento: enlace a la página de Inicio -->
        <li class="inline-flex items-center">
          <a
            href="/"
            class="inline-flex items-center text-sm font-bold transition-colors duration-300"
          >
            <!-- Icono de Inicio -->
            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 2L2 7h3v7h4v-5h2v5h4V7h3L10 2z"></path>
            </svg>
            Inicio
          </a>
        </li>
        <!-- Iterar sobre los segmentos y generar enlaces acumulativos -->
        <li key="0" class="flex items-center">
          <!-- Separador de segmento -->
          <svg
            class="w-5 h-5 text-gray-500 mx-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <!-- Enlace al segmento con ruta acumulativa -->
          <a
            href="/buscadores"
            class="text-sm font-bold transition-colors duration-300 hover:text-gray-500"
          >
            Buscadores
          </a>
        </li>
        <li key="1" class="flex items-center">
          <!-- Separador de segmento -->
          <svg
            class="w-5 h-5 text-gray-500 mx-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <!-- Enlace al segmento con ruta acumulativa -->
          <a
            href="/buscadores/cursos"
            class="text-sm font-bold transition-colors duration-300 hover:text-gray-500"
          >
            Cursos
          </a>
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Contenido dinámico -->
<main class="container mx-auto py-12 flex flex-col lg:flex-row">
  <!-- Search and Results -->
  <div class="w-full lg:w-3/4 pr-8">
    <h2 class="text-2xl font-bold mb-6">Cursos</h2>
    <!-- Tips y Mensajes Dinámicos -->
    <div class="mb-3 position-relative" style="min-height: 1.5em">
      <h5
        *ngIf="searchTip && searchMessage.length === 0"
        class="text-muted position-absolute top-0 start-0"
      >
        {{ searchTip }}
      </h5>
      <h5
        *ngIf="searchMessage"
        class="text-muted position-absolute top-0 start-0"
      >
        {{ searchMessage }}
      </h5>
    </div>
    <!-- Formulario de búsqueda -->
    <div class="flex items-center mb-3">
      <label for="simple-search" class="sr-only">Buscar</label>
      <div class="relative w-full flex">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          [(ngModel)]="searchInput"
          (ngModelChange)="onSearchInputChange()"
          id="simple-search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-text-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Buscar cursos ..."
          required
        />
        <div
          style="width: 32px; padding-left: 0px; cursor: pointer"
          class="absolute inset-y-0 right-0 flex items-center pl-3"
          type="button"
          (click)="clearSearch()"
          *ngIf="searchInput.trim().length > 0"
          id="clearButton"
          aria-label="Limpiar búsqueda"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
      <button
        type="submit"
        (click)="onSearchInputChange()"
        class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
        <span class="sr-only">Buscar</span>
      </button>
    </div>

    <!-- Palabras Clave Sugeridas -->
    <div class="mb-8">
      <span class="me-2">Buscar:</span>
      <span
        style="background-color: rgb(55 65 81); padding: 4px 12px"
        class="badge bg-primary text-white suggested-term me-2 mb-2"
        *ngFor="
          let term of ['online', 'presencial', 'gratuito', 'de pago', 'ingles']
        "
        (click)="addSuggestedTerm(term)"
        (keypress)="handleKeyPress($event, term)"
        tabindex="0"
        role="button"
        [attr.aria-label]="'Buscar ' + (term === 'ingles' ? 'En Inglés' : term)"
      >
        {{
          term === "ingles"
            ? "En Inglés"
            : term === "de pago"
            ? "De Pago"
            : (term | titlecase)
        }}
      </span>
    </div>

    <!-- texto estatus -->
    <div>
      <div class="form-text text-center text-muted mt-2 mb-3">
        {{ resultCount }}
      </div>
      <div
        class="text-center my-4"
        *ngIf="isLoading"
        aria-live="polite"
        aria-busy="true"
      >
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>
    </div>

    <!-- Resultados de búsqueda simulados -->
    <div class="space-y-8">
      <!-- Resultado 1 -->

      @for (item of results; track $index) {
      <div class="group">
        <a href="#" class="text-xl font-semibold text-blue-600 hover:underline">
          {{ item.titulo }}
        </a>

        <!-- Etiquetas de los cursos -->
        <p class="mb-1 flex flex-wrap gap-1">
          <span
            *ngIf="item.idioma.toLowerCase() === 'ingles'"
            class="border border-blue-600 text-blue-100 bg-blue-600 px-2 py-1 text-xs"
            >En Inglés</span
          >
          <span
            *ngIf="item.tipo.toLowerCase() === 'de pago'"
            class="border border-blue-600 text-blue-100 bg-blue-600 px-2 py-1 text-xs"
            >De Pago</span
          >
          <span
            *ngIf="item.tipo.toLowerCase() === 'gratuito'"
            class="border border-blue-600 text-blue-100 bg-blue-600 px-2 py-1 text-xs"
            >Gratuito</span
          >
          <span
            *ngIf="item.modalidad.toLowerCase() === 'online'"
            class="border border-blue-600 text-blue-100 bg-blue-600 px-2 py-1 text-xs"
            >Online</span
          >
          <span
            *ngIf="item.modalidad.toLowerCase() === 'presencial'"
            class="border border-blue-600 text-blue-100 bg-blue-600 px-2 py-1 text-xs"
            >Presencial</span
          >
        </p>

        <!-- Conocimientos del curso -->
        <p class="text-gray-600 mb-2">
          @for (tipo of item.tipo_de_conocimiento; track $index) {
          <span
            style="margin-right: 4px"
            class="border border-blue-100 text-blue-600 px-2 py-1 text-xs"
          >
            {{ tipo }}
          </span>
          }
        </p>

        <!-- Descripción del curso -->
        <!--
        <div
          class="mb-1 text-muted text-truncate"
          style="max-height: 4.5em; overflow: hidden"
        >
          <span [innerHTML]="sanitizedDescripcion(item.descripcion)"></span>
        </div>
        -->
        <span
          [innerHTML]="
            sanitizedDescripcion(item.descripcion | truncate : 400 : true)
          "
        ></span>
      </div>
      }
    </div>
    <!-- Paginación -->
    <!--
    <ol class="flex text-xs font-medium space-x-1 mt-5">
      <li>
        <a
          href="/?page=1"
          class="inline-flex items-center justify-center w-8 h-8 border border-gray-100 rounded"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-3 h-3"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path></svg
        ></a>
      </li>
      <li
        class="block w-8 h-8 text-center border border-gray-100 rounded leading-8"
      >
        <a href="/?page=1" class="block">1</a>
      </li>
      <li
        class="block w-8 h-8 text-center text-white bg-blue-600 border-blue-600 rounded leading-8"
      >
        <a href="/?page=2" class="">2</a>
      </li>
      <li
        class="block w-8 h-8 text-center border border-gray-100 rounded leading-8"
      >
        <a href="/?page=3" class="block">3</a>
      </li>
      <li
        class="block w-8 h-8 text-center border border-gray-100 rounded leading-8"
      >
        <a href="/?page=4" class="block">4</a>
      </li>
      <li>
        <a
          href="/?page=3"
          class="inline-flex items-center justify-center w-8 h-8 border border-gray-100 rounded"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-3 h-3"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path></svg
        ></a>
      </li>
    </ol>
    -->
  </div>
  <!-- Artículos sugeridos -->
  <app-sugeridos></app-sugeridos>
</main>
