<!-- Migas de pan (Breadcrumbs) -->
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<!-- Contenido dinámico -->
<main class="container mx-auto py-12 flex flex-col lg:flex-row">
  <!-- Search and Results -->
  <div class="w-full lg:w-3/4 pr8 px-8">
    <h2 class="text-2xl font-bold mb-6">Cursos</h2>
    <!-- Tips y Mensajes Dinámicos -->
    <!-- Nuevo Componente de Controles de Búsqueda -->
    <app-search-controls
      [searchTip]="searchTip"
      [searchMessage]="searchMessage"
      [(searchInput)]="searchInput"
      [searchKeywords]="searchKeywords"
      [resultCount]="resultCount"
      [isLoading]="isLoading"
      (searchInputChange)="onSearchInputChange()"
      (clearSearch)="clearSearch()"
      (addSuggestedTerm)="addSuggestedTerm($event)"
      (triggerSearch)="onSearchInputChange()"
    ></app-search-controls>

    <!-- Resultados de búsqueda simulados -->
    <div class="space-y-8">
      @for (item of results; track $index) {
      <app-course-item
        class="p-4"
        [course]="item"
        (openModal)="openModal($index)"
      >
      </app-course-item>
      }
    </div>
  </div>
  <!-- Artículos sugeridos -->
  <app-sugeridos></app-sugeridos>
</main>

<app-course-modal
  *ngIf="isModalOpen && dataModal"
  [course]="dataModal"
  (close)="closeModal()"
  (next)="showNextItem()"
></app-course-modal>
