.modelo-container {
    background-color: var(--background-color-blur);
    color: var(--text-color);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    gap: 24px;
  
    @media (max-width: 400px) {
      margin: 0px;
    }
  
    .title {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 600;
      align-self: center;
    }
  
    .subtitle {
      color: var(--secondary-color);
      font-size: 18px;
      margin-top: 4px;
      align-self: center;
    }
  
    section{
      display: flex;
      gap: 24px;
      align-self: center;
  
      @media (max-width: 670px) {
        display: ruby;
      }
    }
  
    .modelo-general{
      color: var(--primary-color);
      gap: 20px;
      display: grid;
      justify-items: center;
      align-self: center;
      max-width: 340px;
      
      mat-card{
        height: 200px;
        width: 200px;
        justify-content: center;
        gap: 36px;
  
        mat-card-title{
          font-size: 100px;
          margin-top: 24px;
        }
  
        mat-card-subtitle{
          color: var(--primary-color);
          padding: 12px;
        }
      }
  
      mat-card-content{
        max-width: 300px;
        text-align: justify;
  
        button{
          background-color: var(--primary-color);
          color: #fff;
        }
  
        .link-button {
          position: relative;
          overflow: hidden;
          transition: background-color 0.3s ease;
        
          &:hover {
            background-color: var(--hover-color); /* Cambia el color de fondo si lo deseas */
            color: var(--primary-color);
          }
        
          /* Animación para el ícono */
          .animated-icon {
            display: inline-block;
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
          }
        
          &:hover .animated-icon {
            transform: rotate(360deg); /* Rotar el ícono */
            color: var(--primary-color); /* Cambiar el color del ícono si lo deseas */
          }
        }
      }
    }
  
    .modelo-categoria{
      max-width: 340px;
      align-self: center;
  
      .categoria{
        max-width: auto;
        display: flex;
  
        mat-card{
          width: 100px;
          height: 50px;
          place-content: center;
          background-color: transparent;
          border: none;
          color: var(--primary-color);
  
          mat-card-title{
            font-weight: 700;
          }
        }
  
        //paara el modelo aun incompleto
        .card-incompleto{
          width: auto;
          height: auto;
          place-content: center;
          background-color: transparent;
          border: none;
          color: var(--primary-color);
          gap: 12px;
          
          mat-card-title{
            font-weight: 700;
          }
          mat-card-subtitle{
            color: var(--primary-color);
          }
        }
  
        mat-expansion-panel {
          background-color: var(--card-background);
          color: var(--text-color);
          margin-bottom: 10px;
          width: -webkit-fill-available;
      
          .mat-expansion-panel-header {
            background-color: var(--primary-color);
            color: #fff;
            height: auto;
  
            .mat-expansion-panel-header-title{
              color: #fff;
            }
          }
      
          .mat-expansion-panel-content {
            background-color: var(--background-color);
          }
      
          p {
            padding: 10px 0;
          }
        }
      }
    }
  
    .hero{
      gap: 24px;
      display: grid;
  
      button{
        color: #fff;
        background-color: var(--primary-color);
  
        width: 200px;
        @media (max-width: 670px) {
          margin-top: 12px;
        }
  
        &:hover {
          background-color: var(--text-background-color); /* Cambia el color de fondo si lo deseas */
          color: var(--primary-color);
        }
      
        /* Animación para el ícono */
        .animated-icon {
          display: inline-block;
          transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        }
      
        &:hover .animated-icon {
          transform: rotate(360deg); /* Rotar el ícono */
          color: var(--primary-color); /* Cambiar el color del ícono si lo deseas */
        }
      }
  
      mat-card-content{
        gap: 22px;
        display: flex;
        justify-content: center;
  
        @media (max-width: 670px) {
          display: ruby;
        }
      }
  
      app-carousel{
        height: 540px;
      }
    }
  }