<!-- Migas de pan para navegación -->
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div>
  <!--Login como empresa y modelo completado-->
  @if (authState()===AuthState.LoggedIn && currentUser()?.type ===
  UserType.COMPANY) {
  <section class="max-w-7xl mx-auto px-4 py-8">
    <!-- Company Header -->
    <!-- Company Header -->
    <div class="flex items-center mb-8">
      <img
        [src]="profileImageUrl"
        alt="Perfil"
        class="w-14 h-10 rounded-full mr-4"
        (error)="
          profileImageUrl = 'http://64.176.10.243:3020/logos/default.png'
        "
      />
      <h1 class="text-4xl font-bold text-gray-700">
        <strong>Empresa:</strong>
        {{ currentUser()?.name ?? "No disponible" }}
      </h1>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="lg:col-span-2">
        @if (modeloMadurez()) {
        <h2 class="text-xl font-bold text-gray-700 mb-8">
          <strong>Tipo de industria:</strong>
          {{ currentUser()?.sector }}
        </h2>
        }
        <!-- Evaluation Status Section -->
        <div class="mb-8">
          <h2 class="text-2xl text-gray-600 mb-4">Completa tus Modelos</h2>
          <p class="text-gray-500 mb-6">
            Actualmente, tu Modelo de Maduración tecnológica para la Industria
            4.0 aún no ha sido completado. Te invitamos a evaluar el nivel de
            madurez tecnológica de tu empresa y a conocer las acciones
            necesarias para alcanzar la madurez tecnológica. Para completar el
            modelo y acceder a todas sus funcionalidades.
          </p>
          <p class="text-gray-500 mb-6">
            Por favor, haz clic en el botón a continuación:
          </p>
        </div>
      </div>

      <!-- Take Survey Button -->
      <div class="lg:col-span-1">
        <!-- Modelo de madurez generall-->
        <button
          [disabled]="modeloMadurez()?.puntaje_general !== null"
          (click)="modeloMadurezService.openLinkGeneral()"
          class="my-1 w-full gap-2 border border-blue-700 p-8 bg-white-700 flex text-blue-700"
        >
          <strong>Modelo de Madurez General</strong>
          {{ modeloMadurez()?.puntaje_general !== null ? "" : " pendiente" }}
          <svg
            *ngIf="modeloMadurez()?.puntaje_general !== null"
            aria-hidden="true"
            class="w-5 h-5 text-blue-700"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414L8.414 15 5 11.586a1 1 0 011.414-1.414L8.414 12.172l7.879-7.879a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <!-- Modelo de madurez sectorial-->
        <button
          [disabled]="
            modeloMadurez() && modeloMadurez()?.puntaje_sector !== null
          "
          (click)="modeloMadurezService.openLinkSectorial()"
          class="my-1 w-full gap-2 border border-blue-700 p-8 bg-white-700 flex text-blue-700"
        >
          <strong
            >Modelo de Madurez de Sector {{ currentUser()?.sector }}</strong
          >
          {{ modeloMadurez()?.puntaje_sector !== null ? " " : " pendiente" }}
          <svg
            *ngIf="modeloMadurez()?.puntaje_sector !== null"
            aria-hidden="true"
            class="w-5 h-5 text-blue-700"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414L8.414 15 5 11.586a1 1 0 011.414-1.414L8.414 12.172l7.879-7.879a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <!-- Modelo de formacion-->
        <button
          [disabled]="
            modeloMadurez() && modeloMadurez()?.respuestas_formacion !== null
          "
          (click)="modeloMadurezService.openLinkFormacion()"
          class="my-1 w-full gap-2 border border-blue-700 p-8 bg-white-700 flex text-blue-700"
        >
          <strong>Encuesta de Formación</strong>
          {{
            modeloMadurez()?.respuestas_formacion !== null ? " " : " pendiente"
          }}
          <svg
            *ngIf="modeloMadurez()?.respuestas_formacion !== null"
            aria-hidden="true"
            class="w-5 h-5 text-blue-700"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414L8.414 15 5 11.586a1 1 0 011.414-1.414L8.414 12.172l7.879-7.879a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <!-- Modelo de formacion-->
        <button
          [disabled]="
            modeloMadurez() && modeloMadurez()?.respuestas_proveedor !== null
          "
          (click)="modeloMadurezService.openLinkFormacion()"
          class="my-1 w-full gap-2 border border-blue-700 p-8 bg-white-700 flex text-blue-700"
        >
          <strong>Encuesta de Proveedores</strong>
          {{
            modeloMadurez()?.respuestas_proveedor !== null ? " " : " pendiente"
          }}
          <svg
            *ngIf="modeloMadurez()?.respuestas_proveedor !== null"
            aria-hidden="true"
            class="w-5 h-5 text-blue-700"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414L8.414 15 5 11.586a1 1 0 011.414-1.414L8.414 12.172l7.879-7.879a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Maturity Results Section -->
    @if (modeloMadurez()) {
    <div class="mt-8">
      <div class="bg-yellow-500 py-3 px-4 mb-8">
        <h2 class="text-2xl text-gray-600">Resultado madurez</h2>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <!-- Radar Chart -->
        <!-- Gráfico Radar -->
        <div class="w-full">
          <canvas #radarChartCanvas></canvas>
        </div>

        <!-- Capital Humano Sections -->
        <div class="space-y-6">
          <div class="space-y-2">
            <h3 class="text-xl font-bold text-gray-700">
              CAPITAL HUMANO: Grado
              {{
                numeroALetra(
                  this.modeloMadurez()?.puntaje_por_categoria
                    ?.capital_humano_y_organizacion_digital
                )
              }}
            </h3>
            <p class="text-gray-600">
              {{
                capitalHumanoSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.capital_humano_y_organizacion_digital
                  )
                ].estado
              }}
            </p>
            <p class="text-gray-600">
              <strong>Sugerencia: </strong>
              {{
                capitalHumanoSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.capital_humano_y_organizacion_digital
                  )
                ].sugerencia
              }}
            </p>
          </div>

          <!--Estrategia-->
          <div class="space-y-2">
            <h3 class="text-xl font-bold text-gray-700">
              ESTRATEGIA: Grado
              {{
                numeroALetra(
                  this.modeloMadurez()?.puntaje_por_categoria
                    ?.estrategia_y_liderazgo
                )
              }}
            </h3>
            <p class="text-gray-600">
              {{
                estrategiaSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.estrategia_y_liderazgo
                  )
                ].estado
              }}
            </p>
            <p class="text-gray-600">
              <strong>Sugerencia: </strong>
              {{
                estrategiaSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.estrategia_y_liderazgo
                  )
                ].sugerencia
              }}
            </p>
          </div>
          <!-- TECNOLOGIA Sections -->
          <div class="space-y-2">
            <h3 class="text-xl font-bold text-gray-700">
              TECNOLOGIAS: Grado
              {{
                numeroALetra(
                  this.modeloMadurez()?.puntaje_por_categoria
                    ?.tecnologia_y_gestion_de_datos
                )
              }}
            </h3>
            <p class="text-gray-600">
              {{
                tecnologiaSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.tecnologia_y_gestion_de_datos
                  )
                ].estado
              }}
            </p>
            <p class="text-gray-600">
              <strong>Sugerencia: </strong>
              {{
                tecnologiaSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.tecnologia_y_gestion_de_datos
                  )
                ].sugerencia
              }}
            </p>
          </div>
          <!-- innovacion Sections -->
          <div class="space-y-2">
            <h3 class="text-xl font-bold text-gray-700">
              GESTION DE INNOVACION: Grado
              {{
                numeroALetra(
                  this.modeloMadurez()?.puntaje_por_categoria
                    ?.gestion_de_la_innovacion_y_conocimiento
                )
              }}
            </h3>
            <p class="text-gray-600">
              {{
                innovacionSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.gestion_de_la_innovacion_y_conocimiento
                  )
                ].estado
              }}
            </p>
            <p class="text-gray-600">
              <strong>Sugerencia: </strong>
              {{
                innovacionSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.gestion_de_la_innovacion_y_conocimiento
                  )
                ].sugerencia
              }}
            </p>
          </div>
          <!-- automatizaacion Sections -->
          <div class="space-y-2">
            <h3 class="text-xl font-bold text-gray-700">
              AUTOMATIZACION: Grado
              {{
                numeroALetra(
                  this.modeloMadurez()?.puntaje_por_categoria
                    ?.procesos_y_automatizacion
                )
              }}
            </h3>
            <p class="text-gray-600">
              {{
                automatizacionSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.procesos_y_automatizacion
                  )
                ].estado
              }}
            </p>
            <p class="text-gray-600">
              <strong>Sugerencia: </strong>
              {{
                automatizacionSections[
                  numeroANumero(
                    this.modeloMadurez()?.puntaje_por_categoria
                      ?.procesos_y_automatizacion
                  )
                ].sugerencia
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    }
  </section>
  }
  <!--sin login-->
  @if (authState() === AuthState.LoggedOut) {
  <section class="relative overflow-hidden bg-white-50">
    <app-title-section
      [title]="'Evaluación Nivel de Madurez Tecnológica'"
      [description]="
        'Evalua el nivel de madurez tecnológica de tu empresa y conoce que acciones debes realizar para alcanzar la madurez tecnológica'
      "
      [buttonText]="'Registrate como Empresa'"
      [buttonLink]="'/registro-industria'"
      [imageSrc]="'assets/hero.webp'"
      [imageAlt]="'mockup'"
    >
    </app-title-section>
  </section>
  <section>
    <app-step-register [steps]="steps"></app-step-register>
  </section>
  }
</div>
