<!-- Migas de pan para navegación -->
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<!-- Contenido dinámico del sitio -->
@defer {
<section class="bg-white">
  <div
    class="grid container px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-5 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
      >
        Evaluación Nivel de Madurez Tecnológica
      </h1>
      <p
        class="max-w-2xl mb-6 mt-4 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl"
      >
        Evalua el nivel de madurez tecnológica de tu empresa y conoce que
        acciones debes realizar para alcanzar la madurez tecnológica
      </p>
      <a
        routerLink="/evaluaciones-madurez"
        href="/evaluaciones-madurez"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center rounded-lg bg-primary hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 border border-yellow-500 border-3 hover:border-yellow-600 hover:bg-yellow-500"
      >
        Evaluar Ahora
        <svg
          class="w-5 h-5 ml-2 -mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <img
        src="assets/hero.webp"
        alt="mockup"
        loading="eager"
        width="auto"
        height="auto"
      />
    </div>
  </div>
</section>
}@loading {
<p class="flex-center text-gray-400">Cargando ...</p>
}
<!---->
@defer {
<section>
  <div class="container pb-10 pt-5 mx-auto sm:px-12 md:px-16 lg:py-20 sm:py-16">
    <div
      class="grid gap-x-8 gap-y-12 sm:gap-y-16 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="relative mt-5 bg-gray-100 p-6 border">
        <a
          routerLink="/registro-industria"
          href="/registro-industria"
          class="block mb-3"
        >
          <h2 class="text-2xl font-bold leading-5 text-black">
            Registro Empresas
          </h2>
        </a>
        <p class="mb-4 text-gray-700">
          ¿Formas parte de la Industria 4.0 y necesitas formación o proveedores
          para tu negocio?
        </p>
        <a
          routerLink="/registro-industria"
          href="/registro-industria"
          class="font-medium text-purple-600"
        >
          Registrarse
        </a>
      </div>
      <div class="relative mt-5 bg-gray-100 p-6 border">
        <a
          routerLink="/registro-proveedor"
          href="/registro-proveedor"
          class="block mb-3"
        >
          <h2 class="text-2xl font-bold leading-5 text-black">
            Registro Proveedores
          </h2>
        </a>
        <p class="mb-4 text-gray-700">
          ¿Quieres unirte a nuestra plataforma como proveedor de productos o
          servicios para la Industria 4.0?
        </p>
        <a
          routerLink="/registro-proveedor"
          href="/registro-proveedor"
          class="font-medium text-purple-600"
        >
          Registrarse
        </a>
      </div>
      <div class="relative mt-5 bg-gray-100 p-6 border">
        <a
          routerLink="/registro-persona"
          href="/registro-persona"
          class="block mb-3"
        >
          <h2 class="text-2xl font-bold leading-5 text-black">
            Registro Usuarios
          </h2>
        </a>
        <p class="mb-4 text-gray-700">
          ¿Te interesa conocer tendencias, innovaciones y mejores prácticas en
          la Industria 4.0, sin ser empresa o proveedor?
        </p>
        <a
          routerLink="/registro-persona"
          href="/registro-persona"
          class="font-medium text-purple-600"
        >
          Registrarse
        </a>
      </div>
    </div>
  </div>
</section>
}@loading {
<p class="flex-center text-gray-400">Cargando ...</p>
}
<!---->
@defer {
<section class="bg-yellow-500 py-10">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-12 lg:flex-row items-center">
      <div class="lg:w-1/2">
        <h1 class="text-4xl font-bold leading-tight mb-4">
          Escucha nuestros Podcast
        </h1>
        <p class="text-xl mb-8">
          Podcast creados con IA, acerca de la industria 4.0 y sus tecnologías.
        </p>
        <a
          routerLink="/investigacion-podcasts"
          class="bg-gray-800 text-white py-3 px-6 rounded-lg shadow-lg hover:shadow-xl transition duration-200"
          >Ir a Escuchar
        </a>
      </div>
      <div class="lg:w-1/4 lg:flex lg:justify-end hidden lg:block">
        <img
          src="assets/podcast.webp"
          alt="Podcast"
          width="auto"
          height="auto"
          loading="eager"
        />
      </div>
    </div>
  </div>
</section>
}@loading {
<p class="flex-center text-gray-400">Cargando ...</p>
}
<!---->
@defer {
<section>
  <div class="py-12 bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Sección de título y descripción -->
      <div class="lg:text-center">
        <h2
          class="font-heading mb-4 bg-yellow-500 inline-block px-4 py-2 rounded-lg md:w-64 md:mx-auto text-xs font-semibold tracking-widest text-black uppercase title-font"
        >
          ¿ Qué es Nuevo los lagos ?
        </h2>
        <p
          class="font-heading mt-2 text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl"
          style="letter-spacing: 0.025em"
        >
          Plataforma para fortalecer la industria regional
        </p>
        <p
          class="mt-4 max-w-2xl text-lg text-gray-500 lg:mx-auto"
          style="margin-left: auto; margin-right: auto"
        >
          Iniciativa web desarrollada por Corfo Los Lagos, Universidad Santo
          Tomás, Asimet y Grupo Centinela.
        </p>
      </div>
      <!-- Grid de características -->
      <div class="mt-10">
        <dl
          class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10"
        >
          <div class="relative border-l-2 border-gray-200 p-2">
            <div class="flex items-center">
              <p class="text-lg leading-6 font-bold text-gray-700">
                Buscador Proveedores
              </p>
            </div>
            <div class="mt-2 text-lg text-gray-500">
              Herramienta para conectar empresas y proveedores de la industria
              en la región de Los Lagos.
            </div>
          </div>
          <div class="relative border-l-2 border-gray-200 p-2">
            <div class="flex items-center">
              <p class="text-lg leading-6 font-bold text-gray-700">
                Buscador de Cursos I 4.0
              </p>
            </div>
            <div class="mt-2 text-lg text-gray-500">
              Plataforma para busqueda de cursos especializados en Industria 4.0
              para el desarrollo de profesionales.
            </div>
          </div>
          <div class="relative border-l-2 border-gray-200 p-2">
            <div class="flex items-center">
              <p class="text-lg leading-6 font-bold text-gray-700">
                Artículos de interés
              </p>
            </div>
            <div class="mt-2 text-lg text-gray-500">
              Compendio de artículos relevantes sobre Industria 4.0, enfocados
              en ofrecer información útil a las empresas.
            </div>
          </div>
          <div class="relative border-l-2 border-gray-200 p-2">
            <div class="flex items-center">
              <p class="text-lg leading-6 font-bold text-gray-700">
                Proyectos destacados
              </p>
            </div>
            <div class="mt-2 text-lg text-gray-500">
              Selección de proyectos sobresalientes en Industria 4.0, con
              información relevante para el sector empresarial.
            </div>
          </div>
          <div class="relative border-l-2 border-gray-200 p-2">
            <div class="flex items-center">
              <p class="text-lg leading-6 font-bold text-gray-700">
                Investigaciones sobre la Industria Regional
              </p>
            </div>
            <div class="mt-2 text-lg text-gray-500">
              Acceso a investigaciones y estudios que analizan el impacto y
              desarrollo de la industria en la región de Los Lagos.
            </div>
          </div>
          <div class="relative border-l-2 border-gray-200 p-2">
            <div class="flex items-center">
              <p class="text-lg leading-6 font-bold text-gray-700">
                Contenido Exclusivo en Industria 4.0
              </p>
            </div>
            <div class="mt-2 text-lg text-gray-500">
              Recursos especializados y contenido exclusivo sobre tendencias,
              innovaciones y mejores prácticas en Industria 4.0.
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
}@loading {
<p class="flex-center text-gray-400">Cargando ...</p>
}
