<!-- Migas de pan para navegación -->
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div>
  <!--Login como empresa y modelo completado-->
  @if (authState()===AuthState.LoggedIn && currentUser()?.type ===
  UserType.SUPPLIER) {
  <section class="max-w-7xl mx-auto px-4 py-8">
    <!-- Company Header -->
    <h1 class="text-4xl font-bold text-gray-700 mb-8">
      <strong>Empresa:</strong>
      {{ currentUser()?.name ?? "No disponible" }}
    </h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="lg:col-span-2">
        <!-- Evaluation Status Section -->
        <div class="mb-8">
          <h2 class="text-2xl text-gray-600 mb-4">Completa tus Modelos</h2>
          <p class="text-gray-500 mb-6">
            Actualmente, tu Modelo de Maduración tecnológica para la Industria
            4.0 aún no ha sido completado. Te invitamos a evaluar el nivel de
            madurez tecnológica de tu empresa y a conocer las acciones
            necesarias para alcanzar la madurez tecnológica. Para completar el
            modelo y acceder a todas sus funcionalidades.
          </p>
          <p class="text-gray-500 mb-6">
            Por favor, haz clic en el botón a continuación:
          </p>
        </div>
      </div>

      <!-- Take Survey Button -->
      <div class="lg:col-span-1">
        <!-- Modelo de madurez nuevo-->
        <ng-container *ngFor="let item of titlesSurvey; let i = index">
          @if (getSurveyData(i+1)) {
          <button
            disabled
            class="my-1 w-full border border-blue-700 p-8 bg-white-700 flex text-blue-700"
          >
            {{ titlesSurvey[i] }}
            <svg
              style="width: 50px"
              aria-hidden="true"
              class="w-5 h-5 text-blue-700"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414L8.414 15 5 11.586a1 1 0 011.414-1.414L8.414 12.172l7.879-7.879a1 1 0 011.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          }@else {
          <div class="lg:col-span-1">
            <button
              routerLink="/modelo-caracterizacion/{{ i + 1 }}"
              class="my-1 w-full border border-blue-700 p-8 bg-white-700 flex text-blue-700 hover:bg-gray-100 transition"
            >
              {{ titlesSurvey[i] }}
            </button>
          </div>
          }
        </ng-container>
      </div>
    </div>
  </section>
  }
  <!--sin login-->
  @if (authState() === AuthState.LoggedOut) {
  <section class="relative overflow-hidden">
    <app-title-section
      [title]="'Modelo de Caracterización de Proveedores'"
      [description]="
        'Completa tu modelo de Caracterización de Proveedores y ayúdanos a identificar cómo podemos conectarte con clientes de tu región. Da el siguiente paso hacia nuevas oportunidades. Haz clic en el botón a continuación y comienza ahora.'
      "
      [buttonText]="'Registrate como proveedor.'"
      [buttonLink]="'/registro-proveedor'"
      [imageSrc]="'assets/hero.webp'"
      [imageAlt]="'mockup'"
    >
    </app-title-section>
  </section>
  <section>
    <app-step-register [steps]="steps"></app-step-register>
  </section>
  }
</div>
