@if (simplified) {
<article class="bg-gray-100 p-4 border">
  <h3 class="text-xl font-bold mb-2">{{ data?.titulo }}</h3>
  <span
    style="font-size: 0.9rem"
    [innerHTML]="data.descripcion | truncate : 130 : true"
  >
  </span>
  <p style="height: 12px"></p>
  <a
    style="cursor: pointer"
    (click)="onOpenModal()"
    (keypress.enter)="onOpenModal()"
    (keypress.space)="onOpenModal()"
    class="font-bold py-2 text-blue-500 transition duration-300 ease-in-out transform hover:scale-105"
  >
    Ver Más
  </a>
</article>
}@else {
<div
  class="group"
  (click)="onOpenModal()"
  (keypress.enter)="onOpenModal()"
  (keypress.space)="onOpenModal()"
>
  <a
    style="cursor: pointer"
    class="uppercase text-xl font-semibold cards-title-color hover:underline"
  >
    {{ data?.nombreStartup }}
  </a>

  <p>
    <!-- Descripción del curso -->
    <span
      class="cards-title-color"
      [innerHTML]="
        resourcesService.sanitizedString(
          data?.descripcionStartup | truncate : 300 : true,
          true
        )
      "
    >
    </span>
  </p>
  <!-- Etiquetas de los articulos -->
  <p class="mb-1 flex flex-wrap gap-1">
    @if (data?.tiempoOperando) {
    <span class="border cards-title-color px-2 py-1 text-xs">
      {{ data?.tiempoOperando }}
    </span>
    } @if (data?.tipo) {
    <span class="border cards-title-color px-2 py-1 text-xs">
      {{ data?.tipo }}
    </span>
    }
  </p>
  <p style="margin-top: 0px">
    <small style="color: gray" class="text-secondary"
      >Sitio web: {{ resourcesService.getDomain(data.paginaWeb) }}
    </small>
  </p>
</div>

}
