/* login.component.scss */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-background-color);
  }
  
  .login-card {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: var(--background-color-blur);
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
  
    @media (max-width: 768px) {
      padding: 20px;
    }
  
    @media (max-width: 480px) {
      padding: 12px;
      margin: 12px;
    }
  
    .login-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }
  
    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-right: 40px;
  
      mat-icon {
        margin-bottom: 10px;
        color: var(--background-color-blur); /* Opcional: color del icono */
      }
  
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: var(--primary-color);
  
        @media (max-width: 480px) {
          font-size: 20px;
        }
      }
    }
  
    .form-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      max-width: 320px;
      gap: 12px;
  
      .full-width {
        width: 100%;
      }
  
      .forgot-password {
        display: block;
        margin-bottom: 20px;
        font-size: 14px;
        text-align: right;
        color: #607d8b;
        text-decoration: none;
  
        @media (max-width: 480px) {
          font-size: 12px;
          text-align: center;
        }
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .error-message {
        color: red;
        margin-top: 10px;
        text-align: center;
      }
    }
  
    .buttons-general {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .volver-button{
        color: var(--primary-color);
      }
      
      .btn-secondary {
        color: black;
        border: 1px solid #cccccc;
      }
  
      .button-container {
        display: flex;
        justify-content: space-between;
        gap: 24px;
  
        button {
          min-width: 100px;
          background-color: var(--primary-color);
          color: #fff;
        }
  
        @media (max-width: 480px) {
          flex-direction: column;
          align-items: center;
          gap: 10px;
  
          button {
            width: 100%;
          }
        }
      }
  
      mat-progress-spinner {
        margin-left: 20px;
      }
    }
  }
  